<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
    </div>
</div>

{{ include('@Jchr86SyliusBannerPlugin/admin/banner/_media.html.twig') }}
